.editor {
  .menubar {
    @apply rounded-lg h-full;
    .shortcut-btn {
      @apply bg-primary text-inverse shadow-xl mb-3;
      @apply px-4 py-3 #{!important};
    }
    .content-menu {
      @apply shadow-xl bg-card px-2 py-3 flex flex-col rounded-lg;
    }
  }
  &--scroller {
    max-height: calc(100vh - 7rem);
    overflow: auto;
    @apply pr-4;
  }
  &--content {
    @apply text-base;
    .ProseMirror {
      min-height: 100px;
      &:focus {
        outline: none;
      }
    }
    h1,
    h2,
    h3 {
      @apply font-medium;
    }
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    blockquote {
      @apply px-3 py-1 border-l-4 border-blue-500 my-3;
    }
    li {
      @apply list-disc;
      list-style-position: inside;
      p {
        display: inline-block;
      }
    }
  }
  .content--title {
    padding: 0 !important;
    width: 100%;
    @apply mb-4 font-medium text-3xl;
  }
  p.is-editor-empty:first-child::before {
    content: attr(data-empty-text);
    float: left;
    color: #aaa;
    pointer-events: none;
    height: 0;
    font-style: italic;
  }
}
